
/* global */
body {
  font-family: 'IBM Plex Serif', serif;
}

.logo {
  background-image: url('./pdf/download.png');
  height: 225px;
  background-repeat: no-repeat;
  margin-left: 40%;
  margin-top: 5%;
}

/* navbar */

.nav_bar {
margin-left: 2%;
background-color: white;
}

.toggler {
  border: 5px solid #05386B!important;
}

.link {
  font-size: 2em;
  font-family: 'IBM Plex Serif', serif;
  color:  #05386B!important; 
  font-style: oblique;
  font-weight: bolder;
}
.link_title {
  font-size: 5em;
  font-family: 'IBM Plex Serif', serif;
  color:  #05386B!important; 
}



/* homepage */

.title {
  font-style: oblique;
  font-weight: bolder;
  font-size: 4em;
  text-align: center;
  color: #05386B;
  border-top: 10px solid #05386B;
  border-bottom: 10px solid #05386B;
  border-width: 10p;
  padding: 4%;
  width: 50%;
  margin-left: 25%;
}

.new {
  color: #05386B;
  background-color: rgb(199, 231, 247);
  border: none;
  font-style: oblique;
  font-weight: bolder;
  font-size: 3em;
  margin-left: 15%;
}

.top_links {
  margin-left: 25%;
  position: relative;
}


/* employee signup */
.form_container_employee {
  display: flexbox;
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
  font-style: oblique;
  font-weight: bolder;
  font-family: 'IBM Plex Serif', serif;
  font-size: 2em;

}

.welcome_text {
  text-align: center;
  font-size: 3em;
}

.employee_home {
  border-left: 5px dashed black;
  height: 200px;
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
}



.signup {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-style: oblique;
  font-weight: bolder;
  margin-top: 45%;
}


/* profile */

.profile {
  font-size: 2em;
  text-align: center;
}

.header {
  text-align: center;
}

.employee {
  text-align: center;
}

.logout_employee {
  padding: 5px;
  margin-left: 80%; 
  border: 5px solid;
  background-color: deepskyblue,
}


/* footer */

.sub_title {
  text-align: center;
  font-size: 2em;
  margin-left: 40%;
  margin-top: -18%;
}
.contact {
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 15%;
  border-bottom: 5px solid  #05386B;
  width: 75%;
}


/* admin page  */

.logout {
  padding: 5px;
  margin-left: 70%; 
  margin-top: -5%;
  border: none;
  background-color: deepskyblue,
}

.employee_card {
  width: 40%;
  border: none;
  margin-top: 2%;
  margin-left: 25%;

  font-weight: bolder;
}

.button1 {
  margin-left: 10%;

  background-color:  #05386B; 
  border: none;
}
.button2 {
  margin-left: 5%;

  background-color:  #05386B; 
  border: none;
}

.button3 {
  margin-left: 5%;

  background-color:  #05386B; 
  border: none;
}


.block {
  border: 5px dashed black;
  height: 200px;
  margin-top: 5%;
  width: 50%;
  margin-left: 25%;
}






.employee_docs {
  margin-top: 10%;
  margin-left: 20%;
}







